---
layout: default
image: '/images/01.webp'
---

{% include section-hero.html %}

<!--JACOB CHANEY | CEO | ROOMSIE-->
<!--These guys helped me identify and correct key issues in the development process that were tormenting me for years. The end result was a highly performant product that quickly started making revenue, placing me miles in front of my competitors.-->

{% include section-projects.html %}

{% include section-subscribe.html %}


{% comment %}

  {% include section-portfolio.html %}

{% endcomment %}