<div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">

    <div class="article__head article__{{ project.title }}">
      {% if project.image %}
      <a class="article__image" href="{{project.url | prepend: site.baseurl}}">
        <img class="auto" src="{{site.baseurl}}{{project.image}}" alt="{{project.title}}">
      </a>
      {% endif %}
    </div>

    <div class="article__content">

      <h3 class="article__title">
        <a href="{{ project.url | prepend: site.baseurl }}">{{ project.name }}</a>
      </h3>

      <p class="article__excerpt">
        <h2>
          {% if project.card_description %}{{ project.card_description | strip_html | truncate: 80 }}{% else %}{{ project.description | strip_html | truncate: 80 }}{% endif %}
        </h2>
      </p>

      <p class="article__excerpt">
        {% if project.description %}{{ project.description | strip_html | truncate: 80 }}{% else %}{{ project.description | strip_html | truncate: 80 }}{% endif %}
      </p>
    </div>
  </div>
</div>