<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">
            Specialized in mapping out, designing, and delivering complex custom-built web applications on time.
            Check out <a href="/how-we-work">How We Work</a> or <a href="/contact">Send us a message</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->