/* Gallery */
.gallery-box {
  margin: 32px -100px 32px -100px;

  @media (max-width: $wide) {
    margin: 32px -40px 32px -40px;
  }

  @media (max-width: $desktop) {
    margin: 32px 0;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  gap: 16px;

  &--post {
    grid-template-columns: repeat(2, auto);
  }

  .gallery__image {
    background: var(--background-color);

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  @media (max-width: $desktop) {
    gap: 12px;
  }
}

/* Section Gallery */
.section-gallery__inner {
  position: relative;
  padding: 0 $base-spacing-unit;

  .section-gallery__title {
    margin-bottom: 24px;
    text-align: center;
    font-family: $heading-font-family;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-alt-color);
  }

  .section-gallery__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  
    .section-gallery__image {
      overflow: hidden;
      border-radius: $global-radius;
      background: var(--background-alt-color);
      user-select: none;
      transition: $global-transition;

      img {
        width: 100%;
        display: block;
        transition: transform .3s ease;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  @media (max-width: $desktop) {
    padding: 0;

    .section-gallery__content {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      .section-gallery__image {
        border-radius: 8px;
      }
    }
  }

  @media (max-width: $tablet) {
    .section-gallery__content {
      gap: 8px;

      .section-gallery__image {
        border-radius: 6px;
      }
    }
  }
}
