---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="post__info">

        {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="javascript:void(0)" class="post__tag">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}

        <h1 class="post__title">{{ page.title | escape }}</h1>
        {% if page.project_url %}
          <div style="padding: 0px 20px 20px 20px">
            <a href={{ page.project_url | escape }}>
              <i class="ion ion-ios-link" size="large" target="_blank" style="color: rgb(204, 0, 0);"></i>
              Click here to visit {{ page.title | escape }}
            </a>
          </div>
        {% endif %}

<!--        <div class="post__meta">-->
<!--          <a class="post__author" href="{{site.baseurl}}/about/">{{site.data.settings.author}}</a>-->
<!--&lt;!&ndash;          – <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>&ndash;&gt;-->
<!--        </div>-->
        <div class="post__description">
          {{ page.description }}
        </div>

      </div>
    </div>
  </div>
</div>

<!-- begin project -->
<div class="container animate">

  {%if page.image %}
    <div class="row">
      <div class="col col-12">
        <div class="post-image">
          <img class="auto" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
        </div>
      </div>
    </div>
  {%endif %}

  <article class="post">

    <div class="post__content">
      {{ content }}
    </div>

    <div class="post__share">
    </div>
  </article>
</div>
<!-- end project -->

{% include section-related-posts.html %}

{% include section-subscribe.html %}